### Week 2 Assignment

In [20]:
#Drive mount
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
import os
import pandas as pd
import numpy as np

In [23]:
PATH = '/content/drive/MyDrive/대학교/DSL/EDA/과제/Week2_Dataset' # Dataset Directory Path 지정

In [24]:
names = ['거시경제학','미시경제학'] # Dataset Directory 내 강의명 제시

### Add Column Index

In [25]:
for name in names:
    for file in os.listdir(os.path.join(PATH, name)):
        file_csv = file.split('.')[0] + '.csv'
        if file.startswith('202'):
            with open(os.path.join(PATH, name, file), "r") as file_name:
                first_line = file_name.readline()
                if first_line[0] == '1' or first_line[0] == '0':
                    DF = pd.read_csv(os.path.join(PATH, name, file), delimiter = '\t', header = None)

# ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- #
                    DF.columns = ['index', '마일리지', '특수교육대상자(장애학생)여부', '전공자/복수전공자(전공자정원포함여부)', '신청과목수', '졸업신청', '초수강여부', '총이수학점비율', '직전학기이수학점비율', '학년', '수강여부', '비고']
# ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- #


                    DF.to_csv(os.path.join(PATH, name, file_csv), index = False)


# ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- #
#이름이 똑같은 csv 파일로 저장을 한 상태, 기존 경로 txt 파일을 삭제하고 싶음 -> os 명령어
        os.remove(os.path.join(PATH, name, file))
# ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- #



        print(file, 'is switched to csv format!')

2021_1_조성훈_거시경제학.txt is switched to csv format!
2022_1_조성훈_거시경제학.txt is switched to csv format!
2023_1_조성훈_거시경제학.txt is switched to csv format!
2023_1_허현승_거시경제학.txt is switched to csv format!
2022_1_한원용_거시경제학.txt is switched to csv format!
2022_1_허현승_거시경제학.txt is switched to csv format!
2022_1_김선빈_거시경제학.txt is switched to csv format!
2021_1_허현승_거시경제학.txt is switched to csv format!
2023_1_김선빈_거시경제학.txt is switched to csv format!
2021_1_김선빈_거시경제학.txt is switched to csv format!
2021_1_한원용_미시경제학.txt is switched to csv format!
2022_1_김철영_미시경제학.txt is switched to csv format!
2022_1_김용선_미시경제학.txt is switched to csv format!
2022_1_최미호_미시경제학.txt is switched to csv format!
2021_1_신동천_미시경제학.txt is switched to csv format!
2021_1_김용선_미시경제학.txt is switched to csv format!
2021_1_최미호_미시경제학.txt is switched to csv format!
2021_1_김상현_미시경제학.txt is switched to csv format!

In [26]:
# 예시 파일
pd.read_csv('/content/drive/MyDrive/대학교/DSL/EDA/과제/Week2_Dataset/미시경제학/2021_1_김상현_미시경제학.csv', delimiter = ',')

,index,마일리지,특수교육대상자(장애학생)여부,전공자/복수전공자(전공자정원포함여부),신청과목수,졸업신청,초수강여부,총이수학점비율,직전학기이수학점비율,학년,수강여부,비고
0,1,12,Y,N(N),5,Y,Y,0.970,1.000,4,Y,NaN
1,2,12,N,N(Y),6,Y,N,0.929,1.000,4,Y,NaN
2,3,12,N,N(Y),6,N,Y,0.881,0.667,4,Y,NaN
3,4,12,N,N(Y),6,N,Y,0.689,0.974,3,Y,NaN
4,5,12,N,N(Y),6,N,Y,0.687,1.000,4,Y,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
135,136,1,N,N(Y),6,N,N,0.575,1.000,3,Y,NaN
136,137,1,N,N(N),6,N,Y,0.802,0.833,4,Y,NaN
137,138,1,N,N(N),6,N,Y,0.603,1.000,3,Y,NaN
138,139,1,N,N(N),6,N,Y,0.540,0.972,3,NaN,NaN
139,140,1,N,N(N),6,N,Y,0.256,0.947,2,Y,NaN

In [27]:
for name in names:
    for file in os.listdir(os.path.join(PATH, name)):
        if file.startswith('202'):
            DF = pd.read_csv(os.path.join(PATH, name, file), delimiter = ',')


# ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- #
# N은 0으로, Y는 1로 Labeling ---> type = int

            if DF['특수교육대상자(장애학생)여부'][0] == 'Y' or DF['특수교육대상자(장애학생)여부'][0] == 'N':
              DF['특수교육대상자(장애학생)여부'] = DF['특수교육대상자(장애학생)여부'].fillna('N').map({'N': 0, 'Y': 1}).astype(int)


# ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- #
# N(N) -> 1, N(Y) -> 2, Y(N) -> 3, Y(Y) -> 4, type = int

            if DF['전공자/복수전공자(전공자정원포함여부)'][0] != 1 and DF['전공자/복수전공자(전공자정원포함여부)'][0] != 2 and DF['전공자/복수전공자(전공자정원포함여부)'][0] != 3 and DF['전공자/복수전공자(전공자정원포함여부)'][0] != 4:
              DF['전공자/복수전공자(전공자정원포함여부)'] = DF['전공자/복수전공자(전공자정원포함여부)'].fillna('N(N)').map({'N(N)': 1, 'N(Y)': 2, 'Y(N)': 3, 'Y(Y)': 4}).astype(int)

# ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- #
# N -> 0, Y -> 1, type = int

            if DF['졸업신청'][0] != 0 and DF['졸업신청'][0] != 1:
                DF['졸업신청'] = DF['졸업신청'].fillna('N').map({'N' : 0, 'Y' : 1}).astype(int)

# ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- #
# N -> 0, Y -> 1, type = int

            if DF['초수강여부'][0] != 0 and DF['초수강여부'][0] != 1:
              DF['초수강여부'] = DF['초수강여부'].fillna('N').map({'N': 0, 'Y': 1}).astype(int)


# ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- #
# N -> 0, Y -> 1, type = int
            if DF['수강여부'][0] != 0 and DF['수강여부'][0] != 1:
              DF['수강여부'] = DF['수강여부'].fillna('N').map({'N': 0, 'Y': 1}).astype(int)

# ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- #
            DF.to_csv(os.path.join(PATH, name, file), index = False)

            print(file, 'is updated !')

2021_1_조성훈_거시경제학.csv is updated !
2022_1_조성훈_거시경제학.csv is updated !
2023_1_조성훈_거시경제학.csv is updated !
2023_1_허현승_거시경제학.csv is updated !
2022_1_한원용_거시경제학.csv is updated !
2022_1_허현승_거시경제학.csv is updated !
2022_1_김선빈_거시경제학.csv is updated !
2021_1_허현승_거시경제학.csv is updated !
2023_1_김선빈_거시경제학.csv is updated !
2021_1_김선빈_거시경제학.csv is updated !
2021_1_한원용_미시경제학.csv is updated !
2022_1_김철영_미시경제학.csv is updated !
2022_1_김용선_미시경제학.csv is updated !
2022_1_최미호_미시경제학.csv is updated !
2021_1_신동천_미시경제학.csv is updated !
2021_1_김용선_미시경제학.csv is updated !
2021_1_최미호_미시경제학.csv is updated !
2021_1_김상현_미시경제학.csv is updated !

In [28]:
# 예시 파일
pd.read_csv('/content/drive/MyDrive/대학교/DSL/EDA/과제/Week2_Dataset/미시경제학/2021_1_김상현_미시경제학.csv', delimiter = ',')

,index,마일리지,특수교육대상자(장애학생)여부,전공자/복수전공자(전공자정원포함여부),신청과목수,졸업신청,초수강여부,총이수학점비율,직전학기이수학점비율,학년,수강여부,비고
0,1,12,1,1,5,1,1,0.970,1.000,4,1,NaN
1,2,12,0,2,6,1,0,0.929,1.000,4,1,NaN
2,3,12,0,2,6,0,1,0.881,0.667,4,1,NaN
3,4,12,0,2,6,0,1,0.689,0.974,3,1,NaN
4,5,12,0,2,6,0,1,0.687,1.000,4,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
135,136,1,0,2,6,0,0,0.575,1.000,3,1,NaN
136,137,1,0,1,6,0,1,0.802,0.833,4,1,NaN
137,138,1,0,1,6,0,1,0.603,1.000,3,1,NaN
138,139,1,0,1,6,0,1,0.540,0.972,3,0,NaN
139,140,1,0,1,6,0,1,0.256,0.947,2,1,NaN

In [29]:
for name in names:
    for file in os.listdir(os.path.join(PATH, name)):
        if file.startswith('202'):
            DF = pd.read_csv(os.path.join(PATH, name, file), delimiter = ',')

# ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- #

            DF = DF.iloc[1:-1, 1:-1] #순위와 비고를 한번에 제거할 수 있는 column index 범위를 찾아보세요!

# ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- #
            DF.to_csv(os.path.join(PATH, name, file), index = False)

In [30]:
# 예시 파일
pd.read_csv('/content/drive/MyDrive/대학교/DSL/EDA/과제/Week2_Dataset/미시경제학/2021_1_김상현_미시경제학.csv', delimiter = ',')

,마일리지,특수교육대상자(장애학생)여부,전공자/복수전공자(전공자정원포함여부),신청과목수,졸업신청,초수강여부,총이수학점비율,직전학기이수학점비율,학년,수강여부
0,12,0,2,6,1,0,0.929,1.000,4,1
1,12,0,2,6,0,1,0.881,0.667,4,1
2,12,0,2,6,0,1,0.689,0.974,3,1
3,12,0,2,6,0,1,0.687,1.000,4,1
4,12,0,2,6,0,1,0.635,1.000,3,1
...,...,...,...,...,...,...,...,...,...,...
133,1,0,2,6,0,0,0.786,1.000,4,1
134,1,0,2,6,0,0,0.575,1.000,3,1
135,1,0,1,6,0,1,0.802,0.833,4,1
136,1,0,1,6,0,1,0.603,1.000,3,1
137,1,0,1,6,0,1,0.540,0.972,3,0